In [ ]:
!nvidia-smi

Sat Jul 11 21:24:11 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.36.06    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla P4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   54C    P0    25W /  75W |    271MiB /  7611MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, BatchNormalization, LSTM, Embedding, Bidirectional, GlobalAveragePooling1D, GRU, Conv1D
import tensorflow_hub as hub
from keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau

# Carga de datos

In [ ]:
train_labels = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Redes Neuronales/data_taller_2/train_labels.csv')

l_text = []

for i in range(train_labels.shape[0]):
    ID = train_labels['id'][i] 
    train_source = open('/content/drive/My Drive/Colab Notebooks/Redes Neuronales/data_taller_2/train_source_tweets.txt','r')
    for linea in train_source: 
        if str(ID) == linea.split()[0]:
            t = linea.split()[1:]
            text = ''
            for p in t:
                text += p+' '
            l_text.append(text)
            break
    train_source.close()
    
train_labels['text'] = l_text
train_labels

           label  ...                                               text
0      non-rumor  ...  north korea 'planning some kind of rocket laun...
1     unverified  ...  meet kevin vickers, the hero who shot down the...
2          false  ...  15 year old who "swatted" gamer convicted of d...
3      non-rumor  ...  audio recordings reveal cpr started 11 minutes...
4           true  ...  awful mt @scclemons:uk aid worker david haines...
...          ...  ...                                                ...
1921        true  ...  #workplace hero shoots #altonnolen #stabbings ...
1922  unverified  ...  russian boy shocked by electricity now claims ...
1923        true  ...  recap: gunman shot dead inside parliament buil...
1924       false  ...  a vandal painted a brilliantly simple penis on...
1925        true  ...  cool dog! mt @cbsnews: goliath encounter: pupp...

[1926 rows x 3 columns]

# Tokenizer

In [ ]:
import re
import string

def clean_text(text):
    '''Make text lowercase, remove text in square brackets,remove links,remove punctuation
    and remove words containing numbers.'''
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    #text = re.sub('\w*\d\w*', '', text)
    return text

train_labels['clean_text'] = train_labels['text'].apply(lambda x:clean_text(x))
train_labels

           label  ...                                         clean_text
0      non-rumor  ...  north korea planning some kind of rocket launc...
1     unverified  ...  meet kevin vickers the hero who shot down the ...
2          false  ...  15 year old who swatted gamer convicted of dom...
3      non-rumor  ...  audio recordings reveal cpr started 11 minutes...
4           true  ...  awful mt scclemonsuk aid worker david haines b...
...          ...  ...                                                ...
1921        true  ...  workplace hero shoots altonnolen stabbings beh...
1922  unverified  ...  russian boy shocked by electricity now claims ...
1923        true  ...  recap gunman shot dead inside parliament build...
1924       false  ...  a vandal painted a brilliantly simple penis on...
1925        true  ...  cool dog mt cbsnews goliath encounter puppysiz...

[1926 rows x 4 columns]

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

vocab_size = 1000
embedding_dim = 256
max_length = 256
trunc_type = 'post'
padding_type = 'post'
oov_tok = '<OOV>'

tokenizer = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(train_labels["clean_text"])
word_index = tokenizer.word_index

train_sequences = tokenizer.texts_to_sequences(train_labels["clean_text"])
train_padded = pad_sequences(train_sequences, padding = padding_type, maxlen = max_length)
train_padded.shape

(1926, 256)

# Encoder

In [ ]:
sent_to_id = {"false":0, "non-rumor":1, "true":2, "unverified":3}
train_labels["label_id"] = train_labels['label'].map(sent_to_id)
train_labels

           label  ...  label_id
0      non-rumor  ...         1
1     unverified  ...         3
2          false  ...         0
3      non-rumor  ...         1
4           true  ...         2
...          ...  ...       ...
1921        true  ...         2
1922  unverified  ...         3
1923        true  ...         2
1924       false  ...         0
1925        true  ...         2

[1926 rows x 5 columns]

In [ ]:
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(train_labels.label_id)
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
Y = onehot_encoder.fit_transform(integer_encoded)
Y

array([[0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       ...,
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.]])

# Modelo

In [ ]:
def model_simple():
    model = Sequential()
    model.add(Embedding(vocab_size, embedding_dim, input_length=max_length))
    model.add(GlobalAveragePooling1D())
    model.add(Dense(64, activation='relu'))
    model.add(Dense(4, activation='softmax'))
    return model

def model_s():
    model = Sequential()
    model.add(Dense(256, input_shape=[max_length], activation='relu'))
    model.add(Dense(4,activation='softmax'))
    return model

def model_lstm():
    model = Sequential()
    model.add(Embedding(vocab_size, embedding_dim, input_length=max_length))
    model.add(LSTM(50, dropout=0.5))
    model.add(Dense(4, activation='softmax'))
    return model

model = model_simple()
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 256, 256)          256000
_________________________________________________________________
global_average_pooling1d_3 ( (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 64)                16448
_________________________________________________________________
dense_7 (Dense)              (None, 4)                 260
=================================================================
Total params: 272,708
Trainable params: 272,708
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

# Entrenamiento

In [ ]:
X = train_padded
# Entrenamiento
history = model.fit(X, Y, epochs=70, batch_size=32, validation_split=0.25, verbose=1,callbacks=[])

Epoch 1/70
46/46 [==============================] - 1s 12ms/step - loss: 1.3802 - accuracy: 0.2749 - val_loss: 1.3789 - val_accuracy: 0.2614
Epoch 2/70
46/46 [==============================] - 0s 10ms/step - loss: 1.3727 - accuracy: 0.2770 - val_loss: 1.3775 - val_accuracy: 0.2614
Epoch 3/70
46/46 [==============================] - 0s 9ms/step - loss: 1.3707 - accuracy: 0.3082 - val_loss: 1.3731 - val_accuracy: 0.3465
Epoch 4/70
46/46 [==============================] - 0s 9ms/step - loss: 1.3644 - accuracy: 0.4356 - val_loss: 1.3686 - val_accuracy: 0.3859
Epoch 5/70
46/46 [==============================] - 0s 9ms/step - loss: 1.3561 - accuracy: 0.4024 - val_loss: 1.3578 - val_accuracy: 0.4793
Epoch 6/70
46/46 [==============================] - 0s 9ms/step - loss: 1.3405 - accuracy: 0.4259 - val_loss: 1.3428 - val_accuracy: 0.3651
Epoch 7/70
46/46 [==============================] - 0s 10ms/step - loss: 1.3141 - accuracy: 0.4806 - val_loss: 1.3148 - val_accuracy: 0.4813
Epoch 8/70
46/46 [==============================] - 0s 9ms/step - loss: 1.2736 - accuracy: 0.5132 - val_loss: 1.2720 - val_accuracy: 0.4419
Epoch 9/70
46/46 [==============================] - 0s 9ms/step - loss: 1.2183 - accuracy: 0.5139 - val_loss: 1.2213 - val_accuracy: 0.4917
Epoch 10/70
46/46 [==============================] - 0s 9ms/step - loss: 1.1569 - accuracy: 0.5769 - val_loss: 1.1747 - val_accuracy: 0.5311
Epoch 11/70
46/46 [==============================] - 0s 9ms/step - loss: 1.0924 - accuracy: 0.6073 - val_loss: 1.1378 - val_accuracy: 0.5477
Epoch 12/70
46/46 [==============================] - 0s 10ms/step - loss: 1.0366 - accuracy: 0.6316 - val_loss: 1.1020 - val_accuracy: 0.5581
Epoch 13/70
46/46 [==============================] - 0s 9ms/step - loss: 0.9800 - accuracy: 0.6406 - val_loss: 1.0838 - val_accuracy: 0.5539
Epoch 14/70
46/46 [==============================] - 0s 9ms/step - loss: 0.9280 - accuracy: 0.6489 - val_loss: 1.0506 - val_accuracy: 0.5685
Epoch 15/70
46/46 [==============================] - 0s 9ms/step - loss: 0.8840 - accuracy: 0.6662 - val_loss: 0.9932 - val_accuracy: 0.5954
Epoch 16/70
46/46 [==============================] - 0s 9ms/step - loss: 0.8355 - accuracy: 0.6904 - val_loss: 0.9644 - val_accuracy: 0.5913
Epoch 17/70
46/46 [==============================] - 0s 10ms/step - loss: 0.7833 - accuracy: 0.7285 - val_loss: 0.9592 - val_accuracy: 0.6017
Epoch 18/70
46/46 [==============================] - 0s 10ms/step - loss: 0.7616 - accuracy: 0.7258 - val_loss: 0.9241 - val_accuracy: 0.6307
Epoch 19/70
46/46 [==============================] - 0s 10ms/step - loss: 0.7024 - accuracy: 0.7729 - val_loss: 0.8867 - val_accuracy: 0.6680
Epoch 20/70
46/46 [==============================] - 0s 10ms/step - loss: 0.6658 - accuracy: 0.7763 - val_loss: 0.8585 - val_accuracy: 0.7033
Epoch 21/70
46/46 [==============================] - 0s 9ms/step - loss: 0.6208 - accuracy: 0.8116 - val_loss: 0.8404 - val_accuracy: 0.6826
Epoch 22/70
46/46 [==============================] - 0s 9ms/step - loss: 0.5880 - accuracy: 0.8255 - val_loss: 0.8369 - val_accuracy: 0.6846
Epoch 23/70
46/46 [==============================] - 0s 9ms/step - loss: 0.5610 - accuracy: 0.8331 - val_loss: 0.8044 - val_accuracy: 0.7137
Epoch 24/70
46/46 [==============================] - 0s 9ms/step - loss: 0.5150 - accuracy: 0.8539 - val_loss: 0.7966 - val_accuracy: 0.7033
Epoch 25/70
46/46 [==============================] - 0s 9ms/step - loss: 0.4838 - accuracy: 0.8684 - val_loss: 0.7544 - val_accuracy: 0.7282
Epoch 26/70
46/46 [==============================] - 0s 9ms/step - loss: 0.4771 - accuracy: 0.8525 - val_loss: 0.7432 - val_accuracy: 0.7303
Epoch 27/70
46/46 [==============================] - 0s 9ms/step - loss: 0.4330 - accuracy: 0.8843 - val_loss: 0.7364 - val_accuracy: 0.7324
Epoch 28/70
46/46 [==============================] - 0s 10ms/step - loss: 0.4119 - accuracy: 0.8795 - val_loss: 0.7243 - val_accuracy: 0.7469
Epoch 29/70
46/46 [==============================] - 0s 9ms/step - loss: 0.3838 - accuracy: 0.8940 - val_loss: 0.6943 - val_accuracy: 0.7531
Epoch 30/70
46/46 [==============================] - 0s 9ms/step - loss: 0.3633 - accuracy: 0.9030 - val_loss: 0.6857 - val_accuracy: 0.7531
Epoch 31/70
46/46 [==============================] - 0s 9ms/step - loss: 0.3411 - accuracy: 0.9051 - val_loss: 0.7084 - val_accuracy: 0.7718
Epoch 32/70
46/46 [==============================] - 0s 9ms/step - loss: 0.3265 - accuracy: 0.9037 - val_loss: 0.6956 - val_accuracy: 0.7635
Epoch 33/70
46/46 [==============================] - 0s 9ms/step - loss: 0.3114 - accuracy: 0.9183 - val_loss: 0.6800 - val_accuracy: 0.7614
Epoch 34/70
46/46 [==============================] - 0s 9ms/step - loss: 0.2851 - accuracy: 0.9266 - val_loss: 0.7051 - val_accuracy: 0.7531
Epoch 35/70
46/46 [==============================] - 0s 9ms/step - loss: 0.2804 - accuracy: 0.9252 - val_loss: 0.6805 - val_accuracy: 0.7593
Epoch 36/70
46/46 [==============================] - 0s 9ms/step - loss: 0.2606 - accuracy: 0.9314 - val_loss: 0.7783 - val_accuracy: 0.7448
Epoch 37/70
46/46 [==============================] - 0s 10ms/step - loss: 0.2598 - accuracy: 0.9287 - val_loss: 0.6626 - val_accuracy: 0.7593
Epoch 38/70
46/46 [==============================] - 0s 10ms/step - loss: 0.2567 - accuracy: 0.9273 - val_loss: 0.7044 - val_accuracy: 0.7552
Epoch 39/70
46/46 [==============================] - 0s 10ms/step - loss: 0.2367 - accuracy: 0.9404 - val_loss: 0.6866 - val_accuracy: 0.7614
Epoch 40/70
46/46 [==============================] - 0s 10ms/step - loss: 0.2206 - accuracy: 0.9425 - val_loss: 0.6724 - val_accuracy: 0.7552
Epoch 41/70
46/46 [==============================] - 0s 10ms/step - loss: 0.2117 - accuracy: 0.9453 - val_loss: 0.7238 - val_accuracy: 0.7676
Epoch 42/70
46/46 [==============================] - 0s 10ms/step - loss: 0.2066 - accuracy: 0.9467 - val_loss: 0.6792 - val_accuracy: 0.7718
Epoch 43/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1988 - accuracy: 0.9474 - val_loss: 0.7062 - val_accuracy: 0.7635
Epoch 44/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1933 - accuracy: 0.9543 - val_loss: 0.6950 - val_accuracy: 0.7676
Epoch 45/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1748 - accuracy: 0.9557 - val_loss: 0.7088 - val_accuracy: 0.7676
Epoch 46/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1710 - accuracy: 0.9529 - val_loss: 0.6805 - val_accuracy: 0.7635
Epoch 47/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1619 - accuracy: 0.9640 - val_loss: 0.7128 - val_accuracy: 0.7635
Epoch 48/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1565 - accuracy: 0.9626 - val_loss: 0.7368 - val_accuracy: 0.7407
Epoch 49/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1659 - accuracy: 0.9536 - val_loss: 0.7100 - val_accuracy: 0.7656
Epoch 50/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1455 - accuracy: 0.9681 - val_loss: 0.8227 - val_accuracy: 0.7510
Epoch 51/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1584 - accuracy: 0.9605 - val_loss: 0.7779 - val_accuracy: 0.7573
Epoch 52/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1339 - accuracy: 0.9716 - val_loss: 0.7317 - val_accuracy: 0.7552
Epoch 53/70
46/46 [==============================] - 0s 9ms/step - loss: 0.1379 - accuracy: 0.9640 - val_loss: 0.7322 - val_accuracy: 0.7697
Epoch 54/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1246 - accuracy: 0.9702 - val_loss: 0.7993 - val_accuracy: 0.7573
Epoch 55/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1190 - accuracy: 0.9744 - val_loss: 0.7619 - val_accuracy: 0.7676
Epoch 56/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1181 - accuracy: 0.9723 - val_loss: 0.7685 - val_accuracy: 0.7573
Epoch 57/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1136 - accuracy: 0.9709 - val_loss: 0.7576 - val_accuracy: 0.7614
Epoch 58/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1099 - accuracy: 0.9758 - val_loss: 0.7490 - val_accuracy: 0.7635
Epoch 59/70
46/46 [==============================] - 0s 10ms/step - loss: 0.1048 - accuracy: 0.9765 - val_loss: 0.8043 - val_accuracy: 0.7739
Epoch 60/70
46/46 [==============================] - 0s 9ms/step - loss: 0.1054 - accuracy: 0.9751 - val_loss: 0.7938 - val_accuracy: 0.7531
Epoch 61/70
46/46 [==============================] - 0s 9ms/step - loss: 0.1073 - accuracy: 0.9737 - val_loss: 0.8287 - val_accuracy: 0.7676
Epoch 62/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0934 - accuracy: 0.9792 - val_loss: 0.8083 - val_accuracy: 0.7739
Epoch 63/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0901 - accuracy: 0.9806 - val_loss: 0.8492 - val_accuracy: 0.7635
Epoch 64/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0849 - accuracy: 0.9834 - val_loss: 0.8465 - val_accuracy: 0.7739
Epoch 65/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0824 - accuracy: 0.9806 - val_loss: 0.8088 - val_accuracy: 0.7531
Epoch 66/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0898 - accuracy: 0.9806 - val_loss: 0.8375 - val_accuracy: 0.7635
Epoch 67/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0764 - accuracy: 0.9868 - val_loss: 0.8636 - val_accuracy: 0.7739
Epoch 68/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0766 - accuracy: 0.9834 - val_loss: 0.8437 - val_accuracy: 0.7656
Epoch 69/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0740 - accuracy: 0.9882 - val_loss: 0.8419 - val_accuracy: 0.7635
Epoch 70/70
46/46 [==============================] - 0s 9ms/step - loss: 0.0698 - accuracy: 0.9861 - val_loss: 0.8827 - val_accuracy: 0.7303

# Predictions

In [ ]:
l_id = []
l_text = []

test_source = open('/content/drive/My Drive/Colab Notebooks/Redes Neuronales/data_taller_2/test_source_tweets.txt','r')
for linea in test_source: 
    ID = linea.split()[0]
    t = linea.split()[1:]
    text = ''
    for p in t:
        text += p+' '
    l_id.append(ID)
    l_text.append(text)

test_source.close()

sample = pd.DataFrame()
sample['id'] = l_id
sample['text'] = l_text
sample['clean_text'] = sample['text'].apply(lambda x:clean_text(x))
sample

                     id  ...                                         clean_text
0    689719109785907200  ...  death toll from bachakhanuniattack rises to at...
1    531300385248800768  ...  the head of isis abu bakr albaghdadi is said t...
2    652992524504600576  ...  steve jobs was adopted his biological father w...
3    509473920060104704  ...  microsoft to buy mojang  report url 2 billion ...
4    651321040119963648  ...  el chapo puts 100 million bounty on donald tru...
..                  ...  ...                                                ...
208  642432477185867776  ...                  the stickers on fruit are edible
209  693236688538243074  ...  is the truth out there in nod to thexfiles cia...
210  504131150429061121  ...  breaking fbi uncovers new audio from neighbor ...
211  692004901455556608  ...  potus just announced new reforms to address th...
212  692157602554343424  ...  waiting for the new episode of teenwolf like url

[213 rows x 3 columns]

In [ ]:
tokenizer = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(sample["clean_text"])
word_index = tokenizer.word_index

test_sequences = tokenizer.texts_to_sequences(sample["clean_text"])
test_padded = pad_sequences(test_sequences, padding = padding_type, maxlen = max_length)
test_padded.shape

(213, 256)

In [ ]:
Y_pred = np.argmax(model.predict(test_padded), axis=-1)
sample['label_id_pred'] = Y_pred
sent_to_label = {0:"false", 1:"non-rumor", 2:"true", 3:"unverified"}
sample["label_pred"] = sample['label_id_pred'].map(sent_to_label)
sample_sub = pd.DataFrame({'label':sample['label_pred'], 'id':sample['id']})
sample_sub.to_csv('sample_submission_mateneuronas.csv', index=False)
sample_sub.head()

   label                  id
0  false  689719109785907200
1  false  531300385248800768
2  false  652992524504600576
3   true  509473920060104704
4  false  651321040119963648